body {
  /* this is test */
  margin: 0;
  background: var(--background);
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
