h1, h2, h3 ,h4 {
  color: var(--foreground);
  margin: 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

p {
  font-weight: 400;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--foreground);

  &:hover {
    color: var(--secondary);
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
}
